<%= f.error_notification %>
<%= f.input :email, placeholder: 'userdomain.com', label: t('shared.all.email') %>
<%= f.input :password, label: t('shared.all.password')%>
<%= f.button :submit, t('users.new.sign_in') %>
<div class="other-links" style="margin: 10px 200px; width: 212px; height: 30px;">
  <%= link_to t('.forgot_password'), new_password_path %>
</div>
