<%= f.error_notification %>
<%= f.input :email, placeholder: 'userdomain.com', label: t('shared.all.email') %>
<%= f.input :password, label: t('shared.all.password')%>
<%= f.button :submit %>
<div class="other-links" style="margin: 10px 810px; width: 212px">
  <% if Clearance.configuration.allow_sign_up? %><%= link_to t('.sign_up'), sign_up_path %>
  <% end %>
  <%= link_to t('.forgot_password'), new_password_path %>
</div>
