<div>
  <% if job.title == 'junior_software_engineer' %>
      <%= t('job.title.option.junior_software_engineer')%>
  <% end %>
  <% if job.title == 'software_engineer' %>
      <%= t('job.title.option.software_engineer')%>
  <% end %>
  <% if job.title == 'senior_software_engineer' %>
      <%= t('job.title.option.senior_software_engineer')%>
  <% end %>
  <% if job.title == 'project_manager' %>
      <%= t('job.title.option.project_manager')%>
  <% end %>
  <% if job.title == 'managing_director' %>
      <%= t('job.title.option.managing_director')%>
  <% end %>
</div>
