<div class="container">
  <h4><%= link_to t('job.shared.add'), new_job_path %></h4>
  <h2><%= t('job.list') %></h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('job.position') %></th>
      <th><%= t('job.date_issue') %></th>
      <th><%= t('job.deadline') %></th>
      <th><%= t('job.status') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= t(job.title, scope: 'job.title.option') %></td>
        <td><%= job.date_issue %></td>
        <td><%= job.deadline %></td>
        <td><%= job.job_status %></td>
        <td>
          <%= link_to t('shared.all.show'), job_path(job) %>
          <%= link_to t('shared.all.edit'), edit_job_path(job) %>
          <%= link_to t('shared.all.delete'), job_path(job), method: :delete,
                      data: { confirm: t('shared.all.confirm_delete') } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
