<div class="container">
  <h4><%= link_to t('job.shared.back'), jobs_path %></h4>
  <h2><%= t('job.details') %></h2>
  <br>
  <form>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.title.title') %></label>
      <div><%= t(@job.title, scope: 'job.title.option') %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.vacancy') %></label>
      <div><%= @job.vacancy %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.description') %></label>
      <div>
        <% @job.job_description.split(/,\s*/).each do |description| %>
          <li><%= description %></li>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.responsibilities') %></label>
      <div>
        <% @job.responsibilities.split(/,\s*/).each do |responsibilities| %>
          <li><%= responsibilities %></li>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.employment_status.title') %></label>
      <div> <%= t(@job.employment_status, scope: 'job.employment_status.option') %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.education_requirement') %></label>
      <div><%= @job.edu_requirement %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.experience_requirement') %></label>
      <div><%= @job.exp_requirement %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.location.title') %></label>
      <div> <%= t(@job.location, scope: 'job.location.option') %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.remuneration') %></label>
      <div><%= @job.remuneration %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.benefits') %></label>
      <div><%= @job.benefits %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.deadline') %></label>
      <div><%= @job.deadline %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.date_issue') %></label>
      <div><%= @job.date_issue %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.status') %></label>
      <div><%= @job.job_status %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.employer_notice') %></label>
      <div><%= @job.employer_notice %></div>
    </div>
  </form>
</div>
