<div class="container">
  <%= flash[:notice] %>
  <h4><%= link_to t('job.shared.back'), jobs_path %></h4>
  <h2><%= t('job.details') %></h2>
  <br>
  <form>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.title.title') %></label>
      <%= render 'title', job: @job %>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.vacancy') %></label>
      <div><%= @job.vacancy %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.description') %></label>
      <div>
        <%= '-' %>
        <%= @job.job_description.split(",").join("<br> -").html_safe %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.responsibilities') %></label>
      <div>
        <%= '-' %>
        <%= @job.responsibilities.split(",").join("<br> -").html_safe %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.employment_status.title') %></label>
      <div>
        <% if @job.employment_status == 'full_time' %>
            <%= t('job.employment_status.option.full_time')%>
        <% end %>
        <% if @job.employment_status == 'part_time' %>
            <%= t('job.employment_status.option.part_time')%>
        <% end %>
        <% if @job.employment_status == 'contractual' %>
            <%= t('job.employment_status.option.contractual')%>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.education_requirement') %></label>
      <td><%= @job.edu_requirement %></td>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.experience_requirement') %></label>
      <div><%= @job.exp_requirement %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.location.title') %></label>
      <div>
        <% if @job.location == 'dhaka' %>
            <%= t('job.location.option.dhaka')%>
        <% end %>
        <% if @job.location == 'switzerland' %>
            <%= t('job.location.option.switzerland')%>
        <% end %>
        <% if @job.location == 'south_africa' %>
            <%= t('job.location.option.south_africa')%>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.remuneration') %></label>
      <div><%= @job.remuneration %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.benefits') %></label>
      <div><%= @job.benefits %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.deadline') %></label>
      <div><%= @job.deadline %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.date_issue') %></label>
      <div><%= @job.date_issue %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.status') %></label>
      <div><%= @job.job_status %></div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold"><%= t('job.employer_notice') %></label>
      <div><%= @job.employer_notice %></div>
    </div>
  </form>
</div>
