<%= link_to t('job.job_back'), jobs_path %>
<div class="show">
  <h2><%= t('job.job_details') %></h2>
  <table>
    <tr>
      <th><%= t('job.job_name') %></th>
      <td><%= @job.title %></td>
    </tr>
    <tr>
      <th><%= t('job.job_des') %></th>
      <td><%= @job.job_description %></td>
    </tr>
    <tr>
      <th><%= t('job.job_res') %></th>
      <td><%= @job.responsibilities %></td>
    </tr>
    <tr>
      <th><%= t('job.job_req') %></th>
      <td><%= @job.requirements %></td>
    </tr>
    <tr>
      <th><%= t('job.job_rem') %></th>
      <td><%= @job.remuneration %></td>
    </tr>
    <tr>
      <th><%= t('job.job_loc') %></th>
      <td><%= @job.location %></td>
    </tr>
    <tr>
      <th><%= t('job.job_deadline') %></th>
      <td><%= @job.deadline %></td>
    </tr>
    <tr>
      <th><%= t('job.job_date_issue') %></th>
      <td><%= @job.date_issue %></td>
    </tr>
    <tr>
      <th><%= t('job.job_status') %></th>
      <td><%= @job.status %></td>
    </tr>
  </table>
</div>
