<div class="page index">
  <h2><%= t('shared.all.welcome') %><%= ' ' %><%= current_user.first_name %></h2>
  <% if current_user.candidate %>
      <% @candidate = current_user.candidate %>
      <div class="page_nav">
        <%= link_to t('candidate.view'), candidate_path(@candidate)%>
        <%= link_to t('candidate.edit'), edit_candidate_path(@candidate) %>
      </div>
  <% end %>
</div>
