<%= f.input :hobbies, label: t('shared.all.hobby'), input_html: {rows: 3} %>
<%= f.input :personal_interest, input_html: {rows: 3} %>
<%= f.input :keywords%>
<%= f.input :referrals%>
<%= f.label :english_proficiency %>
<div class="english-language">
  <%= f.input :reading, collection: %w[high medium low]%>
  <%= f.input :writing, collection: %w[high medium low]%>
  <%= f.input :speaking, collection: %w[high medium low]%>
</div>
<%= f.input :other_language %>
<%= f.button :submit, t('candidate.add') %>
