<%= f.input :skill, label: t('shared.all.skill'), input_html: {rows: 3}, separator: ',' %>
<%= f.input :experience, label: t('shared.all.exp') %>
<%= f.input :long_term_plan, label: t('shared.all.plan'), input_html: {rows: 3} %>
<% if @candidate.avatar.attached? && @candidate.avatar.blob_id? %>
    <%= f.label :avatar, label: t('shared.all.file_up') %>
    <p class="editfile">
      <%= @candidate.avatar.filename %>
    </p>
    <%= f.check_box :delete_avatar %><%= t('shared.all.delete_file') %><br/>
<% else %>
    <%= f.input :avatar, label: t('shared.all.file_up'), as: :file %>
<% end %>
