<div class="candidate index">
  <h2><%=t('candidate.candidate_list')%></h2>
  <%= link_to t('job.shared.back_admin'), admins_path %>
  <div class = "image">
    <% if can? :create, Candidate %>
    <%= link_to t('candidate.add'), new_candidate_path %>
    <% end %>
  </div>
  <br /><br />
  <table class="listing" summary="Candidate List">
    <tr class="header">
      <th class="center"><%=t('candidate.name')%></th>
      <th class="center"><%=t('shared.all.email')%></th>
      <th class="center"><%=t('shared.all.phone')%></th>
      <th class="center"><%=t('shared.all.exp')%></th>
      <th class="center"></th>
    </tr>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.contact %></td>
        <td><%= candidate.experience %></td>
        <td class="actions">
          <% if can? :read, Candidate %>
          <%= link_to t('shared.all.show'), candidate_path(candidate) %>
          <% end %>
          <% if can? :edit, Candidate %>
          <%= link_to t('shared.all.edit'), edit_candidate_path(candidate) %>
          <% end %>
          <% if can? :delete, Candidate %>
          <%= link_to t('shared.all.delete'), candidate_path(candidate), method: :delete,
                      data: {confirm: I18n.t('shared.all.confirm_delete')} %>
          <% end %>
        </td>
     </tr>
    <% end %>
  </table>
</div>
