<div class="candidate show">
  <br />
  <%= link_to t('shared.all.can_back'), candidates_path %>
  <div class="card-show">
    <div class="container-show">
      <h2><%= t('candidate.can_details') %></h2>

      <div class="tab">
        <button class="tablinks" onclick="openCity(event,'Basic')"s><%=t('candidate.basic_info')%></button>
        <button class="tablinks" onclick="openCity(event,'Prof')"><%= t('candidate.prof_exp') %></button>
        <button class="tablinks" onclick="openCity(event,'Additional')"><%= t('candidate.additional_info') %></button>
      </div>

      <div id="Basic" class="tabcontent">
        <h3><%= t('candidate.basic_info') %></h3>
        <table summary="School detail view">
          <tr>
            <th><%= t('candidate.can_name') %></th>
            <td><%= @candidate.name %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.email') %></th>
            <td><%= @candidate.email %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.phone') %></th>
            <td><%= @candidate.contact %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.gender') %></th>
            <td>
              <% if @candidate.gender == 'female' %>
                  <%= t('activerecord.attributes.candidate/gender.female') %>
              <% else %>
                  <%= t('activerecord.attributes.candidate/gender.male') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= t('shared.all.address') %></th>
            <td><%= @candidate.address %></td>
          </tr>
        </table>
      </div>

      <div id="Prof" class="tabcontent">
        <h3><%= t('candidate.prof_exp') %></h3>
        <table summary="School detail view">
          <tr>
            <th><%= t('shared.all.skill') %></th>
            <td><%= @candidate.skill.split(' ').join(',') %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.exp') %></th>
            <td><%= @candidate.experience %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.plan') %></th>
            <td><%= @candidate.long_term_plan %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.file_up') %></th>
            <td>
              <% if @candidate.avatar.attached? && @candidate.avatar.blob_id? %>
                  <%= link_to @candidate.avatar.filename, @candidate.avatar, download: '' %>
              <% else %>
                  <%= t('shared.all.not_avail') %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>

      <div id="Additional" class="tabcontent">
        <h3><%= t('candidate.additional_info') %></h3>
        <table summary="School detail view">
          <tr>
            <th><%= t('shared.all.hobby') %></th>
            <td><%= @candidate.hobbies %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.personal_int') %></th>
            <td><%= @candidate.personal_interest %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.plan') %></th>
            <td><%= @candidate.long_term_plan %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.keyword') %></th>
            <td><%= @candidate.keywords %></td>
          </tr>
          <tr>
            <th><%= t('shared.all.refer') %></th>
            <td><%= @candidate.referrals %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
