<div class="candidate new">
  <div class="form-group">
    <div class="help-back"> <%= link_to t('shared.all.back'), pages_path %> </div>
    <div class="container">
      <h2 class="information-headline"><%= t('candidate.help_page.help') %></h2>
      <h3><%= t('candidate.help_page.info') %></h3>
      <%= simple_form_for :help do |f| %>
        <input id='step2' type='checkbox'>
        <input id='step3' type='checkbox'>
        <input id='step4' type='checkbox'>
        <div id="part1" class="form-group">
          <h3><%= t('candidate.basic_info') %></h3>
          <%= render 'basic', f: f %>
          <div class="nav_con_btn">
            <div>
              <label for='step2' id="continue-step2" class="continue">
                <div class="btn-success"><%= t('shared.all.next') %></div>
              </label>
            </div>
          </div>
        </div>

        <div id="part2" class="form-group">
          <h3><%= t('candidate.edu_profile') %></h3>
          <%= render 'education', f: f %>
          <div class="nav_btn">
            <label for='step2' id="back-step2" class="back">
              <div class="btn-back"><%= t('shared.all.prev') %></div>
            </label>
            <div>
              <label for='step3' id="continue-step3" class="continue">
                <div class="btn-success_both"><%= t('shared.all.next') %></div>
              </label>
            </div>
          </div>
        </div>

        <div id="part3" class="form-group">
          <h3><%= t('candidate.prof_exp') %></h3>
          <%= render 'professional', f: f %>
          <div class="nav_btn">
            <label for='step3' id="back-step3" class="back">
              <div class="btn-back"><%= t('shared.all.prev') %></div>
            </label>
            <div>
              <label for='step4' id="continue-step4" class="continue">
                <div class="btn-success_both"><%= t('shared.all.next') %></div>
              </label>
            </div>
          </div>
        </div>

        <div id="part4" class="form-group">
          <h3><%= t('candidate.additional_info') %></h3>
          <%= render 'additional', f: f %>
          <div class="nav_back_btn">
            <div>
              <label for='step4' id="back-step4" class="back">
                <div class="btn-back"><%= t('shared.all.prev') %></div>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
