<div class="candidatejob index">
  <h2><%= t('shared.all.welcome') %><%= ' ' %><%= current_user.candidate.name %></h2>
  <% if current_user.candidate %>
    <% @candidate = current_user.candidate %>
    <div class="page_nav">
      <%= link_to t('candidate.view'), candidate_path(@candidate)%>  |
      <%= link_to t('candidate.edit'), edit_candidate_path(@candidate) %>
    </div>
  <% end %>
  <h3><%= t('job.list') %></h3>
  <% @jobs.each do |job| %>
    <div class="card">
      <div class="card-header"><%= raw(job.title) %></td></div>
      <div class="card-body">
        <p class="card-text">
          <%= t('job.deadline') %>: <%= job.deadline.strftime('%b %d, %Y') %><br/>
          <%= link_to t('shared.all.show'), job_path(job, candidate_id: current_user.candidate.id), class: 'btn btn-primary' %>
          <% if CandidateJob.exists?(candidate_id: current_user.candidate.id, job_id: job.id) %>
            <%= t('job.already_apply') %>
          <% else %>
            <% if can? :create, CandidateJob %>
            <%= link_to t('job.apply'),
                      new_candidate_job_path(job_id: job.id, candidate_id: current_user.candidate.id),
                      class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
