<div class="show-request page">
  <div class="section alternate2-bg">
    <%= link_to t('shared.all.back'), candidate_jobs_path %> 
    <div id= "showname"> 
      <h2><%= @job.title %></h2> 
    </div>
    <%= simple_form_for :search, method: :get, html: { id: 'search-form' } do |form| %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4><%= t('shared.all.search_filter') %></h4>
          </div>
        </div>
      </div>
      <div class="section alternate2-bg">
        <div class="container ">
          <div class="row">
            <div class="col-md-12 ">
              <div class="">
                <input type="hidden" name="job_id" value="<%= @job.id %>" />
                <div class="form-group filter-group">
                  <%= form.input :skill, required: false, label: false, placeholder: 'Skill Search' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container" id="search-results">
      <%= render '/candidate_jobs/results', people: [], xhr: true, candidate_jobs: @candidate_jobs %>
      <div class="no-results-msg alert alert-warning">
        <p>No result</p>
      </div>
    </div>
  </div>
</div>
