<div class="schools show">
  <h2>Show page</h2>
  <table summary="Course detail view">
    <tr>
      <th><%= t('candidate.applicant') %></th>
      <td><%= @candidate_job.candidate.name %></td>
    </tr>
    <tr>
      <th><%= t('job.title') %></th>
      <td><%= @candidate_job.job.title %></td>
    </tr>
    <tr>
      <th><%= t('candidate_job.expected_salary') %></th>
      <td><%= @candidate_job.expected_salary %></td>
    </tr>
  </table>
</div>
