<div class="show-request page">
  <br /><br />
  <%= link_to t('shared.all.back'), candidate_jobs_path %>
  <div id= "showname">
    <h2><%= @job.title %></h2>
  </div>
  <div class="filters">
    <%= t('shared.all.search_filter')%><br/>
    <i class="fas fa-filter"></i><%= t('shared.all.skill') %>/<%= t('candidate.uni_name') %>: <input id="text_input" type="text" placeholder=<%= I18n.t('shared.all.search') %>>
    <i class="fas fa-filter"></i><%= t('candidate.cgpa') %>: <input id="cgpa" type="number" placeholder=<%= I18n.t('shared.all.search') %>>
    <br />
    <i class="fas fa-filter"></i><%= t('candidate.prof_exp') %>/<%= t('candidate_job.expected_salary') %>:
    <%= t('shared.all.from') %> <input id="min" type="number" placeholder=<%= I18n.t('shared.all.search') %>>
    <%= t('shared.all.to') %> <input id="max" type="number" placeholder=<%= I18n.t('shared.all.search') %>>
    <br />
  </div>
  <table class="table table-hover" id="myTable">
    <thead>
    <tr>
      <th><%= t('candidate.applicant') %></th>
      <th><%= t('candidate.uni_name') %></th>
      <th><%= t('candidate.cgpa') %></th>
      <th><%= t('shared.all.skill') %></th>
      <th><%= t('candidate.prof_exp') %></th>
      <th><%= t('candidate_job.expected_salary') %></th>
      <th><%= t('shared.all.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @candidate_jobs.each do |candidate_job| %>
      <tr>
        <td><%= candidate_job.candidate.name %></td>
        <td><%= candidate_job.candidate.university_name %></td>
        <td class="cgpa-search"><%= candidate_job.candidate.cgpa %></td>
        <td><%= candidate_job.candidate.skill %></td>
        <td class="filter-column"><%= candidate_job.candidate.experience %></td>
        <td class="filter-column"><%= candidate_job.expected_salary %></td>
        <td class="actions">
          <%= link_to t('shared.all.show'), candidate_path(candidate_job.candidate) %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <%= paginate @candidate_jobs %>
  </table>
  <br />
</div>
