<!DOCTYPE html>
<html>
<head>
  <h1 class="text-center font-weight-bold">
    <%= t('layouts.application.title') %>
  </h1>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'logo.jpg' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
  <footer class="page-footer text-center font-weight-bold">
    <nav class="navbar fixed-bottom"> &copy
      <a href= "welldev.io"><%= t('layouts.application.footer') %> </a>
    </nav>
  </footer>
</body>
</html>
